@keyframes load {
  0% {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }

  100% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
}

.g-loading {
  -webkit-animation: load 2s linear infinite;
  -moz-animation: load 2s linear infinite;
  -ms-animation: load 2s linear infinite;
  -o-animation: load 2s linear infinite;
  animation: load 2s linear infinite;
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -ms-transform-origin: center center;
  -o-transform-origin: center center;
  transform-origin: center center;
}
