# default onwer
* anncwb vince292007

# vben core onwer
/.github/ anncwb vince292007
/.vscode/ anncwb vince292007
/packages/ anncwb vince292007
/packages/@core/ anncwb vince292007
/internal/ anncwb vince292007
/scripts/ anncwb vince292007

# vben team onwer
apps/ @vbenjs/team-v5
docs/ @vbenjs/team-v5
