.collapse-transition {
  transition:
    0.2s height ease-in-out,
    0.2s padding-top ease-in-out,
    0.2s padding-bottom ease-in-out;
}

.collapse-transition-leave-active,
.collapse-transition-enter-active {
  transition:
    0.2s max-height ease-in-out,
    0.2s padding-top ease-in-out,
    0.2s margin-top ease-in-out;
}
