@use 'mixin.scss' as *;

.slide-up {
  @include transition;

  &-enter-from,
  &-leave-to {
    opacity: 0;
    transform: translateY(-15px);
  }
}

.slide-down {
  @include transition;

  &-enter-from,
  &-leave-to {
    opacity: 0;
    transform: translateY(15px);
  }
}

.slide-left {
  @include transition;

  &-enter-from,
  &-leave-to {
    opacity: 0;
    transform: translateX(-15px);
  }
}

.slide-right {
  @include transition;

  &-enter-from,
  &-leave-to {
    opacity: 0;
    transform: translateX(15px);
  }
}
