node_modules
.DS_Store
dist
dist-ssr
coverage
*.local
.cache
.turbo

# local env files
.env.local
.env.*.local
.eslintcache

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.idea
# .vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


package-lock.json
pnpm-lock.yaml
