registry = "https://registry.npmmirror.com"
public-hoist-pattern[]=husky
public-hoist-pattern[]=eslint
public-hoist-pattern[]=prettier
public-hoist-pattern[]=prettier-plugin-tailwindcss
public-hoist-pattern[]=stylelint
public-hoist-pattern[]=*postcss*
public-hoist-pattern[]=@commitlint/*
public-hoist-pattern[]=czg

@datatables.net:registry=https://npm.datatables.net/
//npm.datatables.net/:_authToken=415ADA5E9172159FF08BBACB305D0139185F536053F169CDC4A66ACB7ADA8BC5

strict-peer-dependencies=false
auto-install-peers=true
dedupe-peer-dependents=true
