$vxe-primary-color: rgb(9 96 189) !default;
$vxe-table-row-current-background-color: rgb(9 96 189 / 30%);
$vxe-table-row-hover-current-background-color: rgb(9 96 189 / 20%);
$vxe-table-column-hover-background-color: rgb(9 96 189 / 30%);
$vxe-table-column-current-background-color: rgb(9 96 189 / 20%);
$vxe-table-validate-error-color: #f56c6c;
