<!doctype html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit" />
    <meta
      name="description"
      content="Calculate net profit base on Shopify orders"
    />
    <meta name="keywords" content="Shopify NetProfit" />
    <meta name="author" content="Shopify NetProfit" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0"
    />
    <meta name="shopify-api-key" content="<%= VITE_SHOPIFY_APP_KEY %>" />
    <script src="https://cdn.shopify.com/shopifycloud/app-bridge.js"></script>
    <!-- 由 vite 注入 VITE_APP_TITLE 变量，在 .env 文件内配置 -->
    <title><%= VITE_APP_TITLE %></title>
    <link rel="icon" href="/favicon.ico" />
  </head>
  <body>
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
      (function () {
        var s1 = document.createElement('script'),
          s0 = document.getElementsByTagName('script')[0];
        s1.async = true;
        s1.src = 'https://embed.tawk.to/67fa1310c232c819127149ca/1iokdkup1';
        s1.charset = 'UTF-8';
        s1.setAttribute('crossorigin', '*');
        s0.parentNode.insertBefore(s1, s0);
      })();

      window.Tawk_API = window.Tawk_API || {};
      window.Tawk_API.onLoad = function () {
        setTimeout(() => {
          window.Tawk_API.minimize();
        }, 1000);
      };

      var Tawk_LoadStart = new Date();

      window.Tawk_API.customStyle = {
        visibility: {
          desktop: {
            position: 'bl',
            xOffset: '20px',
            yOffset: 60,
          },
        },
      };
    </script>
    <!--End of Tawk.to Script-->

    <div id="app"></div>
    <script type="module" src="/src/main.ts"></script>
  </body>
</html>
