@import (reference) '../../../design/index.less';

.context-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  display: block;
  width: 156px;
  min-width: 10rem;
  margin: 0;
  list-style: none;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 0.25rem;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.1),
    0 1px 5px 0 rgba(0, 0, 0, 0.06);
  background-clip: padding-box;
  user-select: none;

  &.hidden {
    display: none !important;
  }

  &__item {
    a {
      display: inline-block;
      width: 100%;
      padding: 10px 14px;

      &:hover {
        color: @text-color-base;
        background: #eee;
      }
    }

    &.disabled {
      a {
        color: @disabled-color;
        cursor: not-allowed;

        &:hover {
          color: @disabled-color;
          background: unset;
        }
      }
    }
  }
}
