@import '../color.less';
@import 'easing';
@import 'breakpoint';

// tabs
@multiple-height: 30px;

// headers
@header-height: 46px;

// logo width
@logo-width: 36px;

//
@side-drag-z-index: 200;
@page-loading-z-index: 10000;

// app menu

// left-menu
@app-menu-item-height: 42px;
