#app,
.ant-app,
body,
html {
  width: 100%;
  height: 100%;
  overscroll-behavior: none;
}

.ant-app {
  color: inherit;
}

*,
::after,
::before {
  @apply border-border;

  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

body.invert-mode {
  @apply invert;
}

body.grayscale-mode {
  @apply grayscale;
}

html {
  @apply text-foreground bg-background;

  // font-size: 62.5%;
  font-variation-settings: normal;
  text-size-adjust: 100%;
  font-synthesis-weight: none;
  scroll-behavior: smooth;
  text-rendering: optimizelegibility;
  -webkit-tap-highlight-color: transparent;
}

a,
a:active,
a:hover,
a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}

::view-transition-new(root),
::view-transition-old(root) {
  mix-blend-mode: normal;
  animation: none;
}

::view-transition-old(root) {
  z-index: 1;
}

::view-transition-new(root) {
  z-index: 2147483646;
}

html.dark::view-transition-old(root) {
  z-index: 2147483646;
}

html.dark::view-transition-new(root) {
  z-index: 1;
}

input::placeholder,
textarea::placeholder {
  // color: hsl(var(--color-input-placeholder)) !important;
  opacity: 1;
}

input:-webkit-autofill {
  border: none;
  box-shadow: 0 0 0 1000px transparent inset;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  margin: 0;
  appearance: none;
}
