[data-v-e6e08256] .local_form .local_typeValue{width:calc(100% - 120px);margin-bottom:0;margin-left:-1px;border-right:0}[data-v-e6e08256] .local_form .local_typeValue .ant-input{border-radius:0 6px 6px 0}
