@import (reference) '../../../design/index.less';

.layout-content {
  position: relative;
  flex: 1 1 auto;
  min-height: 0;

  &.fixed {
    width: 1200px;
    margin: 0 auto;
  }

  &__loading {
    position: absolute;
    top: 200px;
    z-index: @page-loading-z-index;
  }
}
