@import './helper/distance.less';
// 生成样式
.distance();

.hidden {
  display: none !important;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.justify-start {
  justify-content: start;
}

.justify-end {
  justify-content: end;
}

.justify-around {
  justify-content: space-around;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: normal;
  white-space: nowrap;
}
