/* 滚动槽 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

// TODO 滚动条样式-待修改
// ::-webkit-scrollbar-track {
//   // background: rgba(0, 0, 0, 0.06);
//   // border-radius: 2px;
//   // box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.05);
// }

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  background: @disabled-color;
  border-radius: 4px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb:hover {
  background: @border-color-dark;
}
